<h1>Articles Listing Page</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Some Title</td>
      <td>Some Description</td>
      <td>Placeholder</td>
    </tr>
  </tbody>
</table>